{% extends 'base.html' %}
{% load static %}

{% block content %}
<h1 class="text-center">Projects Todo App</h1>

<div class="container">

    <!-- show percentage complete and other data -->

    <!-- Show sort/filter options -->

    <ul class="list-group">
        
        <form action="{% url 'home' %}" method="get" class="mb-4">
            <div class="input-group">
                <input id="search" class="form-control form-control" name="q" type="search" aria-describedby="search-button" placeholder="Search...">
                <div class="input-group-append">
                    <button type="submit" class="input-group-text btn btn-info" id="search-button" for="search">Search</button>
                    <a href="{% url 'home' %}" class="input-group-text btn btn-light">Back</a>
                </div>
            </div>
        </form>

        <li class="list-group-item list-group-item-action flex-column align-items-start form-group mb-2">
            <div class="d-grid gap-2"><button class="btn btn-secondary btn-sm" id="toggle-btn">Toggle</button></div>
            <form action="{% url 'create' %}" method="post" id="create-form">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-outline-primary">Add</button>
            </form>
        </li>
        

        {% if todos %}
            <span>All you {{ selector_name }} todos your ({{ todos|length }}):</span>
        {% else %}
            <span class="text-center">No avaiable todos.</span>
        {% endif %}


        {% for todo in todos %}
        <li class="list-group-item list-group-item-action flex-column align-items-start" {% if todo.completed %} style="background-color: lightgray;" {% endif %}>
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{ todo.name }}</h5>
                <small>Created <span title="Created on {{ todo.date_created }}">{% if todo.date_created == '0 minutes ago' %}  {% else %} {{ todo.date_created|timesince }} {% endif %}</span> ago</small>
            </div>
            <p class="mb-2" style="white-space: pre-wrap;">{{ todo.info }}</p>
            <a class="btn btn-outline-secondary" href="{% url 'update' todo.pk %}">Update</a>
            {% if todo.completed %}
                <a class="btn btn-outline-danger" href="{% url 'delete' todo.pk %}">Delete</a>
            {% elif todo.complete_by_days != None %}
                {% if todo.is_past_deadline %}
                    <small>This todo is passed it's dealine</small>
                {% else %}
                    <small>This todo should be finished in <span title="Before {{ todo.should_be_completed_by }}">{{ todo.should_be_completed_by|timeuntil }}</span></small>
                {% endif %}
            {% endif %}
        </li>
        {% endfor %}
    </ul>
</div>

<script src="{% static 'todos/js/main.js' %}"></script>
{% endblock content %}
